*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'baskerville';
}
footer{
	background: #eddce9;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}
.content-foo{
	text-align: center;
	font-size: 24px;
	text-align: center;
	color: #000;
	padding: 10px 0 10px 0;
}
.about h2{
	font-size:20px;
	padding: 0px 50px 30px 320px; /*el ultimo es izq*/
	text-align: center;
	color:#6a2847;
	flex-direction: column;
	width: 30%;
}
.about h5{
	font-size:20px;
	padding: 0px 50px 30px 320px; /*el ultimo es izq*/
	text-align: center;
	color:#6a2847;
	flex-direction: column;
	width: 30%;
}
.about p{
	padding: 0px 40px 70px 135px;
	font-size:20px;
	font-weight: 300px;
	text-align: center;
}
.colores img{
	width: 65px;
	height: 65px;
}
.img>color{
	align-items: center;
}
