*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'baskerville';
}
main .productos{
	padding: 30px 0 60px 0;
	background: #f0efef;
	padding-bottom: 30px;
}
.producto{
	display: flex;
	justify-content: space-evenly;
}
.productos about{
	width: 43%;
	color: #000000 ;
	padding: 12px;
}
.labial{
	width: 45%;
	height: 45%;
	padding:10px 120px 30px 160px;
}
.about{
	padding: 10px 120px 30px 10px;
}
.about h1{
	font-size:18px;
	padding: 0px 50px 30px 310px;
	text-align: center;
	color:#6a2847;
	flex-direction: column;
	width: 30%;
}
.about h2{
	font-size:20px;
	padding: 0px 50px 30px 360px;
	text-align: center;
	color:#6a2847;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
}
.about h3{
    font-size:50px;
	padding: 0px 50px 30px 120px;
	text-align: center;
	color:#990156;
	flex-direction: column;
}
.about p{
	padding: 0px 40px 70px 135px;
	font-size:20px;
	font-weight: 300;
	text-align: center;
}
.colores img{
	width: 45px;
	height: 65px;
}
.img>color{
	align-items: center;
}
.carrito img{
	text-align: center;
	display: flex;
	justify-content: center;
	width: 70%;
	height: 70%;
	padding: 0px 10px 0px 290px;		
}
.img>color{
	align-items: center;
}

